.container {
    padding-left: 200px;
    margin-top: 60px;
}

.sectionTile {
    font-size: 28px;
    color: #1A96DA;
    font-weight: 600;
    margin-bottom: 20px;
}

.sectionSub {
    font-size: 20px;
    color: #0B3248;
    font-weight: 600;
}

.containerCards {
    display: flex;
    margin-bottom: 120px;
}